<h1>{{title}}</h1>
  
  <div class="row">
    <div class="one-half column">
      <form>
        <label>Search the punit for puns</label>
        <input type="email" placeholder="Find all the puns!">
        <input class="button-primary" type="submit" value="Search">
      </form>
      <form>
        <label for="exampleMessage">Put a pun in the punit</label>
        <textarea placeholder="I tried to hire a javascript plumber the other day. He didn’t callback, but made a promise to fix a-sink for me." id="exampleMessage"></textarea>
        <input class="button-primary" type="submit" value="Submit">
      </form>
  </div>
  
  <div class="row">
    <div class="one-half column">
      <ul>
        <li>This is where the puns list will go :)</li>
      </ul>
    </div>
  </div>